# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

stenographer/.vs/
stenographer/out/

CMakeFiles/

cmake_install.cmake

CMakeCache.txt

.vscode/

libs/

Makefile

Stenographer

*.part

*.mp4

build/

speed-camera

source/yolo/CMakeLists.txt

source/yolo/yolo

source/imgui/imgui
source/imgui/glfw


models/yolo/

.idea/

scripts/yolov5/
